<header th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" th:href="@{/index}">Pelis PLUS</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/index}">Películas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/movies}">Agregar Películas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/top10.html}">Top 10 películas</a>
				</li>
				<div class="login-button">
		            <a class="btn btn-warning" th:href="@{/movies/login}">Iniciar sesión</a>
		        </div>
			</ul>
		</div>
	</nav>
</header>